@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.comments {
  border: 1px solid #5420b4;
  width: 300px;
  display: block;
  text-decoration: none;
  margin: 20px;
  border-radius: 5px;
  background-color: #5420b4;
  color: white;
  padding-left: 10px;
}

.hidden {
  display: none !important;
}

button {
  background: #fbff45;
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: 900;
  color: #242424;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

button:hover {
  background: #e6b61a;
}

body {
  background-color: black;
  font-family: Raleway;
  color: #dadada;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .opacity {
  width: 100%;
  height: 1700px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

body .container p {
  height: 100px;
}

body .container .letters {
  color: #dadada;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body .container .letters:hover {
  font-size: 32px;
  color: #fbff45;
}

body .container .blocks {
  opacity: 100%;
  display: none;
  position: absolute;
  top: 160px;
  font-size: 30px;
  font-weight: 800;
  width: 100%;
  height: 100%;
  left: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body .container .blocks .block1 {
  position: absolute;
  top: 50px;
  left: 50px;
}

body .container .blocks .block2 {
  position: absolute;
  top: 250px;
  left: 200px;
}

body .container .blocks .block3 {
  position: absolute;
  top: 50px;
  left: 430px;
}

body .container .blocks .block4 {
  position: absolute;
  top: 250px;
  left: 610px;
}

body .container .blocks .block5 {
  position: absolute;
  top: 50px;
  left: 900px;
}

body .container .blocks .block6 {
  position: absolute;
  top: 250px;
  left: 970px;
}

body .container h1 {
  text-align: center;
  margin-top: 30px;
  position: absolute;
  top: 25px;
  font-size: 45px;
}

body .container button {
  background: #fbff45;
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: 900;
  color: #242424;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body .container button:hover {
  background: #e6b61a;
}

body .container .write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 65px;
}

body .container .write .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .write input {
  display: block;
  background-color: #272727;
  color: #dadada;
  border: 0px;
  width: 330px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

body .container .write input::-webkit-input-placeholder {
  color: #5a5a5a;
}

body .container .write input:-ms-input-placeholder {
  color: #5a5a5a;
}

body .container .write input::-ms-input-placeholder {
  color: #5a5a5a;
}

body .container .write input::placeholder {
  color: #5a5a5a;
}
/*# sourceMappingURL=index.css.map */