.productForm{
    &__label{
        display: block;
        margin-top: 10px;

    }
    &__input{
        display: block;

    }
    &__btn{
        margin-top: 15px; 
        display: block; 

    }
    &__success{
        color: rgb(41, 177, 109);
    }
    &__loading{
        color: rgb(137, 168, 226);
    }
    &__error{
        color: rgb(223, 121, 121);
    }
   
   
}